{% extends 'base.html.twig' %}

{% block title %}New Barchasb{% endblock %}

{% block body %}
    <h1>Create new Barchasb</h1>

    {{ include('barchasb/_form.html.twig') }}

    <a href="{{ path('app_barchasb_index') }}">back to list</a>
{% endblock %}
